body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
.header{
  height: 80px;
  text-align: center;
  padding-top: 30px;
  background-color:blueviolet;

}
.header h1{
  height: 50px;
  width: 500px;
  margin: auto;
  font-size: 30px;
  border-radius: 5px;
  background-color:red;
}
.nav{
  height: 70px;
}
.nav ul{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 20px;

  
}

.nav ul li .l1{
  text-decoration: none;
  color: black;
  

}
.active{
  background-color:rgb(237, 113, 134);
  border-radius: 5px;
  color: whitesmoke;

 
}
.l1:hover{
  background-color:blue;
  color:blueviolet;
  border-radius: 7px;
}
.day-1{
  background-color:blueviolet;
}
.inner-box{
  width: 100%;
  margin: auto;
}
.day-2{
  background-color: yellow;
}
.inner-box-day-2{
  width: 100%;
  margin: auto;
}
.day-3{
  background-color:cornflowerblue;

}
.innerbox-day-3{
  width: 100%;
  margin: auto;

}
